# -------------------------
# Python / Django
# --------------------------

# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class
*/*.pyc
#  extensions
*.so

#Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Environments
.env
.env.*
*.env
.venv/
env/
venv/

# Docker
__pycache__/
*.pyc
*.pyo
*.pyd
*.pid
*.seed
