version: "3.9"

services:
  web:
    build: .
    container_name: minimooc-web
    command: /app/docker-entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: minimooc-db
    restart: always
    environment:
      POSTGRES_DB: minimooc
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
